.invite {
  height: 100%;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .welcome-message {
    max-width: 500px;

    .header {
      display: flex;
      flex-direction: row;
      .logo {
        margin-right: 14px;
      }
      .title {
        font-weight: bold;
      }
    }
    .body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      .image {
        width: 250px;
        height: 250px;

        border-radius: 10px;
      }
      .sponsor {
        background-color: #10ac84;
        color: white;
      }
    }
  }
}
