.overview {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 50px;
  .card {
    display: flex;
    flex: 1;
    border-radius: 3px;
    &-green {
      border-top: 3px solid green;
    }
    &-blue {
      border-top: 3px solid blue;
    }
  }
}
