@import 'ember-paper';
@import 'login';
@import 'overview';
@import 'invite';
@import 'components/map-element';

html, body, body > .ember-view, #application {
  height: 100%;
  min-height: 100%;
}

.bs {
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.bs:hover {
    box-shadow: 0 3px 3px rgba(0,0,0,.05);
}

.subitems {
    margin-left: 2rem;
}

.liquid-outlet {
    width: 100%;
}



//Application CSS
#application {
    .sidenav {
        height: calc(100VH - 64px);
        .user-info {
          border-bottom: 1px solid rgba(0,0,0,.05);
          font-weight: 200;
        }
    }
    .sidenav-on {
        width: 77%;
    }
    .sidenav-off {
        width: 99.5%;
    }
    .outlet-content {
        width: 100%;
        background: #f4f5f7
    }
}


//Dashboard CSS
#dashboard {
    width: 98.5%;
    .banner {
        border-radius: 0.5rem;
        background-color:white;
        margin: 1rem;
        padding: 1rem;
        .md-errors-spacer {
            min-height: 0px;
        }
        md-input-container {
            margin: 0px;
        }
    }
    .charts {
        margin-left: 0.2rem;
    }
}

.card {
  flex: 1;
  position: relative;
  border-radius: 3px;
  background: #fff;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  margin: 10px;
  &-green {
    border-top: 3px solid green;
  }
  &-blue {
    border-top: 3px solid blue;
  }
  &-grey {
    border-top: 3px solid #d2d6de;
  }
  .header {
    border-bottom: 1px solid #f4f4f4;
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    min-height: 30px;
  }
}
