@import 'ember-paper';
@import 'login';
@import 'overview';

@import 'components/map-element';

html, body {
  height: 100%;
  min-height: 100%;
}

.bs {
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.bs:hover {
    box-shadow: 0 3px 3px rgba(0,0,0,.05);
}

.subitems {
    margin-left: 2rem;
}

.liquid-outlet {
    width: 100%;
}



//Application CSS
#application {
    .md-sidenav-left {
        min-width: 15VW;
    }
    .sidenav {
        height: calc(100VH - 64px);
        min-width: 30VW;
    }
    .sidenav-on {
        width: calc(100% - 15VW);
    }
    .sidenav-off {
        width: 100%;
    }
    .outlet-content {
        background: #f4f5f7;
        
    }
}


//Dashboard CSS
#dashboard {
    padding: 2rem;
    width: 100%;
    height: 100VH;
    overflow-y: scroll;
    .banner {
        border-radius: 0.5rem;
        background-color:white;
        margin: 1rem;
        padding: 1rem;
        .md-errors-spacer {
            min-height: 0px;
        }
        md-input-container {
            margin: 0px;
        }
    }
    .charts {
        margin-left: 0.2rem;
    }
    .layout-row {
        .chart {
            width: 50%;
        }
    }
    .content {
    }
}
#insulin-shot-plot {
    width: 50VW;
}

.card {
  flex: 1;
  position: relative;
  border-radius: 3px;
  background: #fff;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  margin: 10px;
  &-green {
    border-top: 3px solid green;
  }
  &-blue {
    border-top: 3px solid blue;
  }
  &-grey {
    border-top: 3px solid #d2d6de;
  }
  .header {
    border-bottom: 1px solid #f4f4f4;
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    min-height: 30px;
  }
}
