<div class='login'>
  <div class='content'>
    <div class='header'>
      <div class='primary'>
        <div class='logo'>

        </div>
        <div class='title'>
          Diabuddy
        </div>
      </div>
    </div>
    <div class='body'>
    </div>
  </div>
</div>
