.map-element {
  .content {
    padding: initial;
    width: 100%;
    height: 100%;
    .ember-view {
      width: 100%;
      height: 100%;
      #mapbox {
        width: 100%;
        height: calc(100% - 50px);
        .leaflet-bottom {
          display: none;
        }
      }
    }
  }
}
