<div id='dashboard' class="toLeft">
{{banner-card selectedRange=selectedRange class='card banner bs'}}
{{!-- This is where our data cards go --}}
<div class="charts layout row">
    <div class='card card-blue'>
        <div class='header'>
        Awesome Chart
        </div>
        <div class='content'>

        </div>
    </div>
    <div class='card card-grey'>
        <div class='header'>
        Awesome Other Chart 
        </div>
        <div class='content'>

        </div>
    </div>
</div>
{{outlet}}

</div>
