<div id='dashboard' class="toLeft">
{{banner-card selectedRange=selectedRange class='card banner bs'}}
{{!-- This is where our data cards go --}}
<div class="charts layout-column layout-gt-sm-row">
    <div class='card card-blue'>
        <div class='header'>
        Insulin Chart Plot
        </div>
        <div class='content'>
            {{insulin-shot-plot}}
        </div>
    </div>
    <div class='card card-grey'>
        <div class='header'>
        Blood Sugar Plot
        </div>
        <div class='content'>
            {{blood-sugar-plot}}
        </div>
    </div>
</div>
{{outlet}}

</div>
